.navBar {
    margin: 10px;
    margin-right: 4%;
    margin-left: 4%;
    position: relative;
}
.navigation {
    /* background-color: lightblue; */
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    right: 0;
    gap: 20px;
}

.navigation.open {
    display: flex;
    position: absolute;
    max-width: 150px;
    top: 100%;
    margin-right: 6%;
    justify-content: flex-end;
    background-color: lightblue;
    flex-direction: column;
    gap: 10px;
    max-width: 150px;
    .menu-item {
        width: auto;
    }
    z-index: 999; /*above pages if needed*/
}

.menu-item {
    display: flex;
    align-items: center; 
    justify-content: center;
    transition: transform 0.5s ease, scale 0.5s ease, color 0.5s ease, background-color 0.5s ease;
    font-size: 1.2em;
    border-radius: 6px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    width: 12%;
    max-width: 65px;
    padding: 8px;
}

.menu-item:hover {
    color: white;
    background-color: rgb(34, 160, 160);
    scale: 1.02;
}

.menu-button {
    display: none;
    max-width: 150px;
}

@media (max-width: 768px) {
    .menu-button {
        display: block;
        position: relative;
    }
    .navigation {
        display: none;
    }
    .navBar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

}


