.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 160px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #ccc;
  border-radius: 8px;
  min-width: 350px;
  border: 3px solid #eee;
}

.auth-container .h2 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  color: #333;
}

.auth-form {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin: 10%;
  max-width: 400px;
}

.auth-form .h2 {
  align-self: center;
  color: #fff; 
}

.input-group {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.remember-container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
  align-self: flex-start;
}

.input-group input::placeholder {
  font-size: 14px;
  color: #666;
}

.input-group input {
  border: 1px solid #aaa; 
  border-radius: 0.75em; 
  max-width: 390px;
  margin-bottom: 8px;
  padding-left: 5px; 
  height: 40px; 
  font-size: 14px; 
  outline: none; 
  background-color: #ddd; 
  color: #333;
  transition: border 0.15s ease, filter 0.3s ease;
}

.input-group input:hover {
  border: 1px solid #666;
  border-radius: 0.75em;
}

.submit {
  width: 50%;
  min-width: 100px;
  padding: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.8s ease, opacity 0.8s ease, color 0.8s ease; /* Плавен преход */
  margin-top: 10px;
  margin-bottom: 10px;
}

.submit:hover {
  background-color: #777;
  transform: scale(1.05);
  opacity: 0.9;
  color: #000;
}

.session-expire {
  background-color: #f79494; 
  padding-top: 10px; 
  padding-bottom: 10px;
  margin-top: 80px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 5px;
  min-width: 250px;
  text-align: center;
}

.session-expire + .auth-container {
  margin-top: 30px;
}

.loading-indicator {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 3px solid gray; 
  border-radius: 50%; 
  border-top-color: black; 
  animation: spin 1s infinite linear; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .auth-container {
    display: flex;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 1em;
    min-width: 250px;
    max-width: 600px; 
  }
  .auth-form {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: start;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom: 15%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 400px;
  }

  .loading-indicator {
    width: 1.5em;
    height: 1.5em; 
  }

  .session-expire {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 80px;
    max-width: 600px;
  }
}

@media (max-width: 480px) {
  .session-expire {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
  }
  .auth-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 70px;
  }
}
