.project-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    max-width: 750px;
    background-color: #d4d4d4;
    color: black;
}

.project-table th,
.project-table td {
    /* border: 1px solid #ddd; */
    border: none;
    padding: 8px;
    text-align: center;
    min-width: 110px;
}
th.td-button,
td.td-button {
    border: none;
    padding: 0px;
    text-align: center;   
}


@media (max-width: 450px) {
    .project-table {
        width: 350px;
        margin: 10px;
    }
}

.action-button {
    background-color: #d4d4d4;
    /* color: #fff; */
    color: black;
    padding: 0.75em;
    font-size: 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    text-decoration: none;
}

.action-button:hover {
    background-color: #b4b4b4;
}