.home-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.description {
    margin: 10%;
    padding: 20px;
    margin-top: 50px;
    border: 3px solid whitesmoke;
    border-radius: 10px;

    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

@media (max-width: 768px) {
    .description {
        margin: 6%;
        margin-top: 20px;
        padding: 10px;
    }
}