/* полета за избор на филтър */
.filter-input,
.priority-select,
.assignee-select{
    margin: 0.25em;
    padding: 0.5em;
    border: 0.1em solid #ccc;
    border-radius: 0.25em;
    font-size: 16px;
}

.filter-form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    font-size: 30px;
    margin-right: 0.025em;
    cursor: pointer;
}

.clicked {
    background-color: rgb(218, 218, 218);
    border-radius: 15%;
}
  
/*списъци с опции */
.priority-select,
.assignee-select {
    width: 8.5em;
    cursor: pointer;
}

/* списък с issues */
.grid-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0.25em;
    padding-left: 0;
}

.box-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0.25em;
    padding-left: 0;
}

.grid-view .issue-item{
    width: 27%;
    margin-top: 1.25em;
    margin-right: 1em;
    padding: 0.75em;
    border: 0.09em solid #ccc;
    border-radius: 0.25em;
    list-style: none;
}

.box-view .issue-item{
    width: 100%;
    margin-top: 1.25em;
    margin-right: 1em;
    padding: 0.75em;
    border: 0.09em solid #ccc;
    border-radius: 0.25em;
    list-style: none;
}

.issues{
    padding-left: 0.75em;
}

.issue-field {
    list-style: none;
    margin-bottom: 0.25em;
}

.button-field {
    list-style: none;
    font-size: 1.25em;
    text-align: right;
    margin-bottom: 0.25em;
    cursor: pointer;
}

.field-label {
    font-weight: bold;
}

.field-value {
    margin-left: 0.35em;
}

@media screen and (max-width: 768px) {
    .grid-view .issue-item{
      width: 40%;
    }
    
}

@media only screen and (max-width: 480px) {
    .issue-list .filtered-issues {
      display: flex;
      flex-direction: column;
    }
    .issue-list .filtered-issues .issue-item {
      width: 90%;
    }
  }