.user-form {
    max-width: 30em; 
    margin: 1em;
    padding: 2em; 
    border: 0.0625em solid #cccccc; 
    border-radius: 0.5em;
    background-color: #f9f9f9;
    box-shadow: 0 0.125em 0.25em #e6e6e6;
    cursor: default;
}

.user-form h2 {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 1.25em;
}

.user-form label {
    display: block;
    font-size: 0.8em;
    margin-bottom: 0.3125em;
    font-weight: bold;
}

.user-form input {
    width: 100%;
    padding: 0.5em; 
    margin-bottom: 0.9375em; 
    border: 0.0625em solid #cccccc; 
    border-radius: 0.25em;
    box-sizing: border-box;
}

.user-form button {
    width: 100%;
    margin-top: 0.3em;
    padding: 0.625em;
    border: none;
    border-radius: 0.25em;
    background-color: #007bff;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.user-form button:hover {
    background-color: #0056b3;
}

.user-form p {
    text-align: center;
    color: #008000;
    font-weight: bold;
}
